@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background: rgba(213, 213, 213, 0);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* Custom Tailwind Varianble */

    /* Color */
    --color-primary-color: var(--primary-color);
    --color-secondary-color: var(--secondary-color);
    --color-ternary-color: var(--ternary-color);
    --color-multed-blue: var(--multed-blue-color);
    --color-text-color: var(--text-color);
    --color-light-tan: var(--light-tan);
    --color-success-color: var(--success-color);
    --color-green-color: var(--color-green-400);
    --color-error-color: var(--error-color);
    --color-footer-color: var(--footer-color);
    --color-footer-dark-color: var(--shade-secondary-1100);
    --color-little-dark: var(--little-dark);

    --color-primary-100: #F5F5F5;
    --color-primary-300: #666666;

    --color-secondary-shade-lightest: var(--shade-secondary-100);
    --color-secondary-shade-light: var(--shade-secondary-300);
    --color-secondary-shade-normal: var(--shade-secondary-800);
    --color-secondary-shade-dark: var(--shade-secondary-1100);
    --color-background-color: var(--body-background);
    /* Background Image */
    --background-image-seller-auth: url('/src/assets/Auth/SellerAuthTransparency.png');
    --background-image-customer-auth: url('/src/assets/Auth/LoginTransparency.png');

    /* Spacing */
    --spacing-space-2: 2px;
    --spacing-space-4: 4px;
    --spacing-space-6: 6px;
    --spacing-space-8: 8px;
    --spacing-space-8: 8px;
    --spacing-space-10: 10px;
    --spacing-space-12: 12px;
    --spacing-space-14: 14px;
    --spacing-space-18: 18px;
    --spacing-space-20: 20px;
    --spacing-space-22: 22px;
    --spacing-space-26: 26px;
    --spacing-space-30: 30px;
    --spacing-space-34: 34px;
    --spacing-space-38: 38px;
    --spacing-space-42: 42px;
    --spacing-space-46: 46px;
    --spacing-space-50: 50px;
    --spacing-space-54: 54px;
    --spacing-space-58: 58px;
    --spacing-space-24: 24px;
    --spacing-space-32: 32px;
    --spacing-space-42: 42px;
    --spacing-space-90: 90px;
    --spacing-space-120: 120px;
    --spacing-space-140: 140px;
    --spacing-space-180: 180px;
    --spacing-space-220: 220px;
    --spacing-space-288: 288px;
    --spacing-space-320: 320px;
    --spacing-space-360: 360px;
    --spacing-space-460: 460px;


    /* Text Size */
    --text-error-msg: 0.8rem;
    --text-label-size: var(--label-size);
    --text-11: 11px;
    --text-12: 12px;
    --text-13: 13px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-28: 28px;
    --text-32: 32px;
    --text-36: 36px;
    --text-38: 38px;
    --text-40: 40px;

    --breakpoint-s-lg:1258px;
    --breakpoint-940: 940px;
    --breakpoint-s-md:770px;

    --radius-80: 80px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-30: 30px;
    
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /*  Custom Variables */
    --primary-color: #151515;
    --secondary-color: #C75B39;
    --shade-secondary-100: #f9efeb;
    --shade-secondary-300: #eecec4;
    --shade-secondary-800: #d27c61;
    --shade-secondary-1100: #3c1b11;
    /* --secondary-color: #774b53; */
    /* --secondary-color: #4e242c; */
    --ternary-color: #A8B0B9;
    --little-dark: #2a2a2a;
    --multed-blue-color: #6B7B8C;
    --light-tan: #D9CAB3;
    --text-color: #f9efeb;
    --footer-color: #161B22;
    --success-color: var(--color-blue-400);
    --error-color: var(--color-red-700);

    --body-background: #FAFBFC;
    /* --body-background: #f9efeb; */
    /* size */
    --label-size: 16px;

    --font-nunito: 'Nunito Sans', sans-serif;
}


.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}

@layer utilities{
    .h-screen-minus{
        height: calc(100vh - 72px);
    }
}

html,body{
  background-color: var(--color-body-background);
}

label{
    font-size: 16px;
}

